@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500;9..40,600&family=Libre+Franklin:wght@600&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

/* body */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url('../images/road.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}


/* navbar */

nav {
  background-color: #191919;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 3rem;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
}

nav a {
  height: 100%;
  padding: 0 2rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #fcfafa;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #3c4146
}

nav a:hover {
  background-color: #aca0a0;
  text-decoration: none;
  transition: 0.5s;
}

nav li:first-child {
  margin-right: auto;
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-size: 40px;
}

.togglebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(238, 232, 232, 0.719);
  backdrop-filter: blur(5px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.togglebar li {
  width: 100%;
}

.togglebar a {
  width: 100%;
  color: black;
}

.togglebar a:hover {
  background-color: #6b6464;
  text-decoration: none;
  transition: 0.5s;
}

#svg {
  fill: #fcfafa;
}

.hamburger-button {
  display: none;
}

ul li ul.dropdown li{
  display: block;
}

ul li ul.dropdown li:first-child {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

ul li ul.dropdown {
  width: 100%;
  position: absolute;
  z-index: 999;
  display: none;
  background-color:#3c4146;
  color:#fcfafa;
}

ul li:hover ul.dropdown {
  display: block;
}

@media (max-width:1090px) {
  .hideOnSmallDevice {
    display: none;
  }

  .hamburger-button {
    display: block;
  }
}

@media (max-width:480px) {
  .togglebar {
    width: 100%;
  }
}

/* footer */

footer {
  position: absolute;
  left: 0;
  z-index: 10;
  margin-top: 100px;
  width: 100%;
  padding: 50px 5%;
  background-color: #191919;
  color: #fcfafa;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30%;
  justify-content: space-around;
}

footer div {
  text-align: center;
  justify-content: center;
}

footer div h3 {
  margin-bottom: 30px;
}

footer a {
  display: block;
  text-decoration: none;
  color: #fcfafa;
  margin-bottom: 20px;
}

footer p {
  margin-bottom: 10px;
}

.footer-text {
  padding-top: 50px;
}

/* index.html */

.indexcontainer {
  max-width: 1200px;
  margin: 250px auto;
  padding: 20px 20px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: rgba(238, 232, 232, 0.719);
  backdrop-filter: blur(3px);
  align-content: center;
  justify-content: center;
}

.indexcontainer h2 {
  text-align: center;
  padding: 20px;
}

.indexcontainer p {
  padding-top: 20px;
  padding-bottom: 20px;
}

.indexcontainer ul {
  padding-left: 15px;
  padding-bottom: 20px;
}

.indexcontainer p,
li {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.1rem;
}

/* contact */

.contact-container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.section-header {
  margin-bottom: 50px;
  text-align: center;
}

.section-header h2 {
  color: #fcfafa;
  font-weight: bold;
  font-size: 3.5rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px black;
}

.section-header p {
  text-shadow: 2px 2px black;
  margin-top: 50px;
  color: #fcfafa;
  font-size: 1.4rem;
  font-weight: 700;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact-info {
  width: 50%;
}

.contact-info-item {
  display: flex;
  margin-bottom: 30px;
}

.contact-info-icon {
  height: 70px;
  width: 70px;
  background-color: #fcfafa;
  text-align: center;
  border-radius: 50%;
}

.contact-info-icon i {
  font-size: 30px;
  line-height: 70px;
}

.contact-info-content {
  margin-left: 20px;
}

.contact-info-content h4 {
  color: #fcfafa;
  font-size: 2.2rem;
  margin-bottom: 5px;
  text-shadow: 2px 2px black;
}

.contact-info-content p {
  color: #fcfafa;
  font-size: 1.2rem;
  text-shadow: 2px 2px black;
}

.contact-form {
  background-color: #fcfafa;
  padding: 40px;
  width: 45%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.contact-form h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact-form .input-box input[type="submit"] {
  width: 100%;
  background: #6b6464;
  color: #fcfafa;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover {
  background: #aca0a0;
  color: #fcfafa;
}

textarea::placeholder {
  font-family: Arial;
  color: #333;
}

input::placeholder {
  font-family: Arial;
  color: #333;
}

@media (max-width: 991px) {
  .contact-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .row {
    flex-direction: column;
  }

  .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }

  .contact-form {
    width: 100%;
  }
}

/* about */

.about-us-heading {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
}

.about-us-heading h2 {
  padding-top: 35px;
  color: #fcfafa;
  font-weight: bold;
  font-size: 3.5rem;
  margin-bottom: 50px;
  text-shadow: 2px 2px black;
}

.about-us-container {
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.about-reverse {
  display: flex;
  flex-direction:row-reverse;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.about-reverse img {
  margin-left: auto;
}

.about-img {
  flex: 1;
  margin-right: 40px;
  margin-top: 50px;
}

.about-img img {
  max-width: 80%;
  max-height: 80%;
  height: auto;
  display: block;
  transition: 0.5s ease;
  box-shadow: 5px 5px 10px black;
}

.about-content {
  flex: 1;
}

.about-content p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #fcfafa;
  text-shadow: 2px 2px black;
}

@media screen and (max-width:768px) {
  .about-us-heading {
    padding: 0px 20px;
  }

  .about-us-container {
    padding: 20px;
  }

  .about,
  .about-reverse {
    padding: 50px;
    flex-direction: column;
  }

  .about-reverse img {
    margin-right: auto;
  }

  .about-img {
    margin-right: 0px;
    margin-bottom: 40px;
  }


  .about-content p {
    padding: 0px;
  }
}

/* 404 page */

.error-page {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 10px 0px 50px;
}

.error-page h1 {
  font-size: 4vw;
  font-weight: 700;
  color: #fcfafa;
  text-shadow: 2px 2px black;
  text-align: center;
  padding: 80px 20px 20px;
}

.error-page p {
  font-size: 3.5vw;
  font-weight: 700;
  color: #fcfafa;
  text-shadow: 2px 2px black;
  text-align: center;
  padding: 50px 15px 15px;
}

.error-page a {
  font-size: 20px;
  text-align: center;
  color: #fcfafa;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  width: 250px;
  background: #6b6464;
  border-radius: 5px;
  margin: 50px auto 0px;
  padding: 20px 20px 20px;
  transition: .4s all ease-in-out;
  cursor: pointer;
}

.error-page a:hover {
  background-color: #aca0a0;
  color: #3c4146;
}


/* login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.login-form {
  width:500px;
  background-color: rgba(238, 232, 232, 0.719);
  backdrop-filter: blur(3px);
  padding: 20px;
  border-radius: 20px;
}

.login-form h1 {
  padding: 15px;
  font-size: 50px;
  text-align: center;
}

.login-input {
  width: 100%;
  height: 50px;
  margin: 30px 0;
  position: relative;
}

.login-input input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 20px;
  border-radius: 50px;
}

.login-input span {
  justify-content: center;
  position: absolute;
  right:20px;
  top:50%;
  transform: translateY(-50%);
}

.login-btn {
  width: 100%;
  height: 50px;
  border:none;
  outline:none;
  font-size: 18px;
  font-weight: bolder;
  border-radius: 50px;
  cursor: pointer;
  background-color: #6b6464;
  color:#fcfafa
}

.login-btn:hover {
  background-color: #aca0a0;
  color: #3c4146;
}

.register-account {
  font-size: 17px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600;
}

.register-account a {
  color:#191919;
  text-decoration: none;
}

.register-account a:hover {
  text-decoration:underline;
}

/* register */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.register-form {
  width:500px;
  background-color: rgba(238, 232, 232, 0.719);
  backdrop-filter: blur(3px);
  padding: 20px;
  border-radius: 20px;
}

.register-form h1 {
  padding: 15px;
  font-size: 50px;
  text-align: center;
}

.register-input {
  width: 100%;
  height: 50px;
  margin: 30px 0;
  position: relative;
}

.register-input input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 20px;
  border-radius: 50px;
}

.register-input span {
  justify-content: center;
  position: absolute;
  right:20px;
  top:50%;
  transform: translateY(-50%);
}

.register-btn {
  width: 100%;
  height: 50px;
  border:none;
  outline:none;
  font-size: 18px;
  font-weight: bolder;
  border-radius: 50px;
  cursor: pointer;
  background-color: #6b6464;
  color:#fcfafa
}

.register-btn:hover {
  background-color: #aca0a0;
  color: #3c4146;
}