{% extends "base.html" %}
{% block content %}

<section>
    <div class="about-us-heading">
        <h2>About Us</h2>
    </div>

    <div class="about-us-container">
        <div class="about">
            <div class="about-img">
                <img src="static/images/showroom1.jpg">
            </div>
            <div class="about-content">
                <p>In the opulent realm of automotive indulgence, Sophisticated Wheels emerged in 2010 as a vision
                    crystallized into reality. Founded by automotive enthusiasts with a shared passion for exquisite
                    craftsmanship and unparalleled luxury, our journey began with the ambition to redefine the concept
                    of a car showroom.

                    Inspired by a desire to offer a curated selection of the world's most prestigious vehicles,
                    Sophisticated Wheels set out to create a haven where automotive aficionados could immerse themselves
                    in the epitome of opulence. The founders, having traversed the globe in pursuit of automotive
                    excellence, handpicked a collection that exemplifies sophistication, precision, and unrivaled
                    performance.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}