{% extends "base.html" %}
{% block content %}

<section>
    <div class="about-us-heading">
        <h2>About Us</h2>
    </div>

    <div class="about-us-container">
        <div class="about">
            <div class="about-img">
                <img src="static/images/showroom1.jpg">
            </div>
            <div class="about-content">
                <p>In the opulent realm of automotive indulgence, Sophisticated Wheels emerged in 2010 as a vision
                    crystallized into reality. Founded by automotive enthusiasts with a shared passion for exquisite
                    craftsmanship and unparalleled luxury, our journey began with the ambition to redefine the concept
                    of a car showroom.

                    Inspired by a desire to offer a curated selection of the world's most prestigious vehicles,
                    Sophisticated Wheels set out to create a haven where automotive aficionados could immerse themselves
                    in the epitome of opulence. The founders, having traversed the globe in pursuit of automotive
                    excellence, handpicked a collection that exemplifies sophistication, precision, and unrivaled
                    performance.</p>
            </div>
        </div>

        <div class="about-reverse">
            <div class="about-img">
                <img src="static/images/showroom2.jpg">
            </div>
            <div class="about-content">
                <p>From the moment you step into our showroom, you embark on a sensory journey curated to transcend the ordinary.
                    Our founders' dedication to providing an immersive experience is evident in every detail – from the meticulously
                    designed interiors to the ambient lighting that accentuates the contours of each masterpiece.
            
                    As we've evolved over the years, our commitment to personalized service remains unwavering. The Sophisticated
                    Wheels team comprises experts who share a profound knowledge of luxury automobiles, ensuring that every client
                    receives tailored guidance and insights. We believe in fostering lasting relationships, understanding that the
                    journey to acquiring a luxury vehicle is as significant as the destination itself.</p>
            </div>
        </div>

        <div class="about">
            <div class="about-img">
                <img src="static/images/showroom3.jpg">
            </div>
            <div class="about-content">
                <p>Beyond our showroom, Sophisticated Wheels has established itself as a hub for exclusive events, bringing together a
                    community of discerning individuals who share a common appreciation for automotive excellence. From curated test
                    drives to intimate gatherings with industry experts, we provide our clients with unique opportunities to immerse
                    themselves in the world of luxury automobiles.
                
                    At Sophisticated Wheels, our story is one of passion, precision, and a relentless pursuit of perfection. We invite
                    you to explore our showroom, where every vehicle tells a tale of extraordinary engineering and timeless elegance.
                    Join us on this journey, where sophistication meets the road, and every drive becomes an exquisite experience.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}