<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Sophisticated Wheels</title>
</head>

<body>
    <!--Navbar-->
    <header>
        <nav>
            <ul class="togglebar">
                <li onclick=hideNavbar()>
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path
                                d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
                        </svg></a>
                </li>
                <li>
                    <a href="{{ url_for('index') }}" aria-label="Home">Home</a>
                </li>
                <li>
                    <a href="{{ url_for('about') }}" aria-label="About">About Us</a>
                </li>
                <li>
                    <a href="{{ url_for('our_fleet') }}" aria-label="Fleet">Our Fleet</a>
                </li>
                <li>
                    <a href="{{ url_for('sell_car') }}" aria-label="Sell your car">Sell Your Car</a>
                </li>
                <li>
                    <a href="{{ url_for('account') }}" aria-label="Account">Account ▼</a>
                    <ul class="dropdown">
                        <li>
                            <a href="{{ url_for('register') }}">Register</a>
                        </li>
                        <li>
                            <a href="{{ url_for('login') }}">Login</a> 
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{ url_for('contact') }}" aria-label="Contact">Contact</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="{{ url_for('index') }}">Sophisticated Wheels</a>
                </li>
                <li class="hideOnSmallDevice">
                    <a href="{{ url_for('index') }}" aria-label="Home">Home</a>
                </li>
                <li class="hideOnSmallDevice">
                    <a href="{{ url_for('about') }}" aria-label="About">About Us</a>
                </li>
                <li class="hideOnSmallDevice">
                    <a href="{{ url_for('our_fleet') }}" aria-label="leet">Our Fleet</a>
                </li>
                <li class="hideOnSmallDevice">
                    <a href="{{ url_for('sell_car') }}" aria-label="Sell your car">Sell Your Car</a>
                </li>
                <li class="hideOnSmallDevice">
                    <a href="{{ url_for('account') }}" aria-label="Account">Account ▼</a>
                    <ul class="dropdown">
                        <li>
                            <a href="{{ url_for('register') }}">Register</a>
                        </li>
                        <li>
                            <a href="{{ url_for('login') }}">Login</a> 
                        </li>
                    </ul>
                </li>
                <li class="hideOnSmallDevice">
                    <a href="{{ url_for('contact') }}" aria-label="Contact">Contact</a>
                </li>
                <li class="hamburger-button" onclick=collapseNavbar()>
                    <a href="#" id="svg"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960"
                            width="24">
                            <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <div class="col-1">
            <h3>Useful Links</h3>
            <a href="{{ url_for('about') }}">About Us</a>
            <a href="{{ url_for('our_fleet') }}">Our Fleet</a>
            <a href="{{ url_for('sell_car') }}">Sell Your Car</a>
        </div>
        <div class="col-2">
            <h3>Account</h3>
            <a href="{{ url_for('register') }}">Register</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('account') }}">My Account</a>
        </div>
        <div class="col-3">
            <h3>Contact</h3>
            <p>0116 234 5678</p>
            <p>info@s-wheels.co.uk</p>
            <p>High Street, LE1 5EU<br>Leicester, United Kingdom</p>
        </div>
        <div class="footer-text">
            <p><a href="{{ url_for('index') }}">Copyright &copy;<span id="year"></span> Sophisticated Wheels</a></p>
        </div>
    </footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
        AOS.init();
    </script>
    <script src="https://kit.fontawesome.com/c32adfdcda.js" crossorigin="anonymous"></script>
</body>

</html>