{% extends "base.html" %}
{% block content %}

{% if session.user %}

<section class="contact-section">
    <div class="section-header">
        <div class="contact-container">
            <h2>Edit Your Car</h2>
            <p>If you need to change any details to your existing selling form, please address the changes
                in this form.
            </p>
        </div>
    </div>
<!-- Edit form -->
    <div class="wrapper">
        <h3>
            Please Complete this Form
        </h3>
        <div class="sell-form">
            <form method="POST" enctype="multipart/form-data" action="{{ url_for('edit_car', car_id=car_id) }}">
                <div class="inputfield">
                    <label>First Name</label>
                    <input type="text" class="input" value="{{ car.fname }}" name="fname" id="fname" required>
                </div>
                <div class="inputfield">
                    <label>Last Name</label>
                    <input type="text" class="input"  value="{{ car.lname }}" name="lname" id="lname" required>
                </div>
                <div class="inputfield">
                    <label>Brand</label>
                    <input type="text" class="input" value="{{ car.brand }}" name="brand" id="brand" required>
                </div>
                <div class="inputfield">
                    <label>Model</label>
                    <input type="text" class="input" value="{{ car.model }}" name="model" id="model" required>
                </div>
                <div class="inputfield" id="body_type">
                    <label>Body Type</label>
                    <div class="custom_select">
                        <select name="body_type" required>
                            <option value="" disabled>Select</option>
                            <option value="convertible" {% if car and car.body_type=='convertible' %} selected{% endif %}>Convertible
                            </option>
                            <option value="coupe" {% if car and car.body_type=='coupe' %} selected {% endif %}>Coupe</option>
                            <option value="4x4" {% if car and car.body_type=='4x4' %} selected {% endif %}>4x4</option>
                            <option value="saloon" {% if car and car.body_type=='saloon' %} selected {% endif %}>Saloon</option>
                            <option value="sportscar" {% if car and car.body_type=='sportscar' %} selected {% endif %}>Sports Car</option>
                            <option value="suv" {% if car and car.body_type=='suv' %} selected {% endif %}>SUV</option>
                        </select>
                    </div>
                </div>
                <div class="inputfield">
                    <label>Year</label>
                    <input type="number" class="input" value="{{ car.year }}" maxlength="4" name="year" id="year" required>
                </div>
                <div class="inputfield">
                    <label>Fuel Type</label>
                    <input type="text" class="input" value="{{ car.fuel }}" name="fuel" id="fuel" required>
                </div>
                <div class="inputfield">
                    <label>Colour</label>
                    <input type="text" class="input" value="{{ car.colour }}" name="colour" id="colour" required>
                </div>
                <div class="inputfield">
                    <label>Mileage</label>
                    <input type="text" class="input" value="{{ car.mileage }}" name="mileage" id="mileage" required>
                </div>
                <div class="inputfield">
                    <label>Price Asked (£)</label>
                    <input type="text" class="input" value="{{ car.price }}" name="price" id="price" required>
                </div>
                <div class="inputfield">
                    <label>Email Address</label>
                    <input type="email" class="input" value="{{ car.email }}" name="email" id="email" required>
                </div>
                <div class="inputfield">
                    <label>Phone Number</label>
                    <input type="tel" class="input" value="{{ car.telephone }}" name="telephone" id="telephone" required>
                </div>
                <div class="inputfield">
                    <input type="submit" value="Edit" class="btn">
                </div>
            </form>
        </div>
    </div>
    </section>

{% else %}

<section>
    <div class="error-page">
        <h1>To sell your car you need an account created.</h1>
        <p>Please log in or register an account if you do not have one.
        </p>
        <a href="{{ url_for('login') }}" aria-label="Login">Login</a>
    </div>
</section>

{% endif %}

{% endblock %}