{% extends "base.html" %}
{% block content %}
<section>
    <div class="indexcontainer" data-aos="zoom-in">
        <h2>Sophisticated Wheels</h2>
        <p>Discover the epitome of automotive excellence in Leicester at Sophisticated Wheels. Immerse yourself in our
            exclusive collection of prestigious vehicles, meticulously curated for the discerning driver.

            Indulge your automotive desires with our diverse array of luxury cars, conveniently showcased in our
            state-of-the-art showroom. At Sophisticated Wheels, we understand that your quest for the perfect vehicle is
            a journey, and we're here to accompany you every step of the way.

            Our commitment to excellence extends beyond aesthetics. Whether you crave the thrill of a sports car or the
            old school feel of a classic car, we stand ready to guide you to your ideal automotive companion in
            Leicester.

            As a fully approved service center, our dedication to quality assurance ensures that your confidence in us
            is well-placed. When you choose us, you're not just buying a car; you're investing in a seamless and
            reassuring experience.</p>

    </div>
    <div class="indexcontainer" data-aos="zoom-in">
        <h2>What defines a sophisticated car?</h2>
        <p>Elegance, unparalleled performance, and exceptional quality – these descriptors encapsulate the essence of
            owning a sophisticated car. While the term is inherently subjective, a car attains prestige when it is
            universally recognized for its sophistication and refinement, earning respect and admiration.

            In the realm of prestigious automobiles, cutting-edge technology seamlessly integrates with stellar
            performance, crafting an unparalleled driving experience that empowers the driver with a sense of commanding
            authority. Certain manufacturers, such as Ferrari and Porsche, have consistently produced prestige cars from
            their inception, embodying the epitome of automotive excellence. Additionally, there are cars that evolve
            over time, cultivating a distinguished, up-market image that resonates with those who seek the zenith of
            automotive luxury.</p>

    </div>
    <div class="indexcontainer" data-aos="zoom-in">
        <h2>What are common luxury car brands?</h2>
        <p>Some of the common luxury car brands we stock are:</p>
        <ul>
            <li>Ferrari</li>
            <li>Porsche</li>
            <li>McLaren</li>
            <li>Lamborghini</li>
            <li>Pagani</li>
            <li>Koenigsegg</li>
            <li>Rolls Royce</li>
            <li>Mercedes</li>
            <li>Bentley</li>
            <li>Ford</li>
            <li>Land Rover</li>
    </div>
</section>
  
{% endblock %}
