{% extends "base.html" %}
{% block content %}

{% if session.user %}

<section>
    <div class="error-page">
        <h1>We apologize, but it seems that you are already logged in.</h1>
        <p>Let's get you back on track – feel free to explore our navigation menu or contact us for any assistance.
        </p>
        <a href="{{ url_for('index') }}" aria-label="Home">Back to Home</a>
    </div>
</section>

{% else %}
<section class="login-container">
    <div class="login-form">
        <form method="POST" action="{{ url_for('login')}}">
            <h1>Login</h1>
            <!-- Username -->
            <div class="login-input">
                <input type="text" id="username" name="username"
                 minlength="5" maxlength="15" placeholder="Username"
                    required>
                <span class="material-symbols-outlined">
                    person
                </span>
            </div>
            <!-- Password -->
            <div class="login-input">
                <input type="password" id="password" name="password"
                 minlength="8" maxlength="15" placeholder="Password"
                    required>
                <span class="material-symbols-outlined">
                    lock
                </span>
            </div>
            <!-- Login button -->
            <button type="submit" class="login-btn">
                Login
            </button>
            <div class="register-account">
                <p>Don't have an existing account?
                     <a href="{{ url_for('register') }}">Register Account</a>
                </p>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <p class="registration-successful">{{ message }}</p>
                {% endfor %}
            {% endif %}
          {% endwith %}
        </form>
    </div>
</section>
{% endif %}

{% endblock %}