{% extends "base.html" %}
{% block content %}

<section class="contact-section">
    <div class="section-header">
        <div class="contact-container">
            <h2>Luxury Cars for Sale</h2>
            <p> Our curated collection
                showcases an exquisite array of premium vehicles that redefine sophistication and performance. Immerse
                yourself in a world where precision engineering meets opulent design, offering an unparalleled driving
                experience. From sleek sports cars to lavish SUVs, each vehicle in our fleet represents the pinnacle of
                automotive craftsmanship, blending cutting-edge technology with timeless aesthetics.</p>
        </div>
    </div>
</section>

<section class="cards-section">
    <div class="cards-container">
        <div class="card">
            <div class="card-img">

            </div>
            <div class="card-content">
                <h3>Car 1</h3>
                <p></p>
                <a href="#">Enquire About This Car</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img">

            </div>
            <div class="card-content">
                <h3>Car 2</h3>
                <p></p>
                <a href="#">Enquire About This Car</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img">

            </div>
            <div class="card-content">
                <h3>Car 3</h3>
                <p></p>
                <a href="#">Enquire About This Car</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img">

            </div>
            <div class="card-content">
                <h3>Car 4</h3>
                <p></p>
                <a href="#">Enquire About This Car</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img">

            </div>
            <div class="card-content">
                <h3>Car 5</h3>
                <p></p>
                <a href="#">Enquire About This Car</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img">

            </div>
            <div class="card-content">
                <h3>Car 6</h3>
                <p></p>
                <a href="#">Enquire About This Car</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img">

            </div>
            <div class="card-content">
                <h3>Car 7</h3>
                <p></p>
                <a href="#">Enquire About This Car</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img">

            </div>
            <div class="card-content">
                <h3>Car 8</h3>
                <p></p>
                <a href="#">Enquire About This Car</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img">

            </div>
            <div class="card-content">
                <h3>Car 8</h3>
                <p></p>
                <a href="#">Enquire About This Car</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img">

            </div>
            <div class="card-content">
                <h3>Car 10</h3>
                <p></p>
                <a href="#">Enquire About This Car</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img">

            </div>
            <div class="card-content">
                <h3>Car 11</h3>
                <p></p>
                <a href="#">Enquire About This Car</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img">

            </div>
            <div class="card-content">
                <h3>Car 12</h3>
                <p></p>
                <a href="#">Enquire About This Car</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}