{% extends "base.html" %}
{% block content %}

<section class="contact-section">
    <div class="section-header">
        <div class="contact-container">
            <h2>Luxury Cars for Sale</h2>
            <p> Our curated collection
                showcases an exquisite array of premium vehicles that redefine sophistication and performance. Immerse
                yourself in a world where precision engineering meets opulent design, offering an unparalleled driving
                experience. From sleek sports cars to lavish SUVs, each vehicle in our fleet represents the pinnacle of
                automotive craftsmanship, blending cutting-edge technology with timeless aesthetics.</p>
        </div>
    </div>
</section>

<section class="cards-section">
    <div class="cards-container">
        <div class="card">
            <div class="card-img car1">
            </div>
            <div class="card-content">
                <h3>Bentley</h3>
                <p>
                    <ul>
                        <li>Model: Continental</li>
                        <li>Year: </li>
                        <li>Gearbox: </li>
                        <li>Fuel Type: </li>
                        <li>Colour: </li>
                        <li>Mileage: </li>
                        <li>Price Asked: </li>
                    </ul>
                </p>
                <a href="{{ url_for('contact') }}" aria-label="Enquire">Enquire About This Car</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img car2">
            </div>
            <div class="card-content">
                <h3>Ferrari</h3>
                <p>
                    <ul>
                        <li>Model: Spider 488</li>
                        <li>Year: </li>
                        <li>Gearbox: </li>
                        <li>Fuel Type: </li>
                        <li>Colour: </li>
                        <li>Mileage: </li>
                        <li>Price Asked: </li>
                    </ul>
                </p>
                <a href="{{ url_for('contact') }}" aria-label="Enquire">Enquire About This Car</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img car3">
            </div>
            <div class="card-content">
                <h3>Ford</h3>
                <p>
                    <ul>
                        <li>Model: Mustang GT</li>
                        <li>Year: </li>
                        <li>Gearbox: </li>
                        <li>Fuel Type: </li>
                        <li>Colour: </li>
                        <li>Mileage: </li>
                        <li>Price Asked: </li>
                    </ul>
                </p>
                <a href="{{ url_for('contact') }}" aria-label="Enquire">Enquire About This Car</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img car4">
            </div>
            <div class="card-content">
                <h3>Koenigsegg</h3>
                <p>
                    <ul>
                        <li>Model: Agera R</li>
                        <li>Year: </li>
                        <li>Gearbox: </li>
                        <li>Fuel Type: </li>
                        <li>Colour: </li>
                        <li>Mileage: </li>
                        <li>Price Asked: </li>
                    </ul>
                </p>
                <a href="{{ url_for('contact') }}" aria-label="Enquire">Enquire About This Car</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img car5">
            </div>
            <div class="card-content">
                <h3>Lamborghini</h3>
                <p>
                    <ul>
                        <li>Model: Countach</li>
                        <li>Year: </li>
                        <li>Gearbox: </li>
                        <li>Fuel Type: </li>
                        <li>Colour: </li>
                        <li>Mileage: </li>
                        <li>Price Asked: </li>
                    </ul>
                </p>
                <a href="{{ url_for('contact') }}" aria-label="Enquire">Enquire About This Car</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img car6">
            </div>
            <div class="card-content">
                <h3>Lamborghini</h3>
                <p>
                    <ul>
                        <li>Model: Urus</li>
                        <li>Year: </li>
                        <li>Gearbox: </li>
                        <li>Fuel Type: </li>
                        <li>Colour: </li>
                        <li>Mileage: </li>
                        <li>Price Asked: </li>
                    </ul>
                </p>
                <a href="{{ url_for('contact') }}" aria-label="Enquire">Enquire About This Car</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img car7">
            </div>
            <div class="card-content">
                <h3>Land Rover</h3>
                <p>
                    <ul>
                        <li>Model: Range Rover</li>
                        <li>Year: </li>
                        <li>Gearbox: </li>
                        <li>Fuel Type: </li>
                        <li>Colour: </li>
                        <li>Mileage: </li>
                        <li>Price Asked: </li>
                    </ul>
                </p>
                <a href="{{ url_for('contact') }}" aria-label="Enquire">Enquire About This Car</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img car8">
            </div>
            <div class="card-content">
                <h3>McLaren</h3>
                <p>
                    <ul>
                        <li>Model: P1</li>
                        <li>Year: </li>
                        <li>Gearbox: </li>
                        <li>Fuel Type: </li>
                        <li>Colour: </li>
                        <li>Mileage: </li>
                        <li>Price Asked: </li>
                    </ul>
                </p>
                <a href="{{ url_for('contact') }}" aria-label="Enquire">Enquire About This Car</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img car9">
            </div>
            <div class="card-content">
                <h3>Mercedez-Benz</h3>
                <p>
                    <ul>
                        <li>Model: G-Class</li>
                        <li>Year: </li>
                        <li>Gearbox: </li>
                        <li>Fuel Type: </li>
                        <li>Colour: </li>
                        <li>Mileage: </li>
                        <li>Price Asked: </li>
                    </ul>
                </p>
                <a href="{{ url_for('contact') }}" aria-label="Enquire">Enquire About This Car</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img car10">
            </div>
            <div class="card-content">
                <h3>Pagani</h3>
                <p>
                    <ul>
                        <li>Model: Zonda R</li>
                        <li>Year: </li>
                        <li>Gearbox: </li>
                        <li>Fuel Type: </li>
                        <li>Colour: </li>
                        <li>Mileage: </li>
                        <li>Price Asked: </li>
                    </ul>
                </p>
                <a href="{{ url_for('contact') }}" aria-label="Enquire">Enquire About This Car</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img car11">
            </div>
            <div class="card-content">
                <h3>Porsche</h3>
                <p>
                    <ul>
                        <li>Model: 911 Turbo</li>
                        <li>Year: </li>
                        <li>Gearbox: </li>
                        <li>Fuel Type: </li>
                        <li>Colour: </li>
                        <li>Mileage: </li>
                        <li>Price Asked: </li>
                    </ul>
                </p>
                <a href="{{ url_for('contact') }}" aria-label="Enquire">Enquire About This Car</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img car12">
            </div>
            <div class="card-content">
                <h3>Rolls Royce</h3>
                <p>
                    <ul>
                        <li>Model: Wraith</li>
                        <li>Year: </li>
                        <li>Gearbox: </li>
                        <li>Fuel Type: </li>
                        <li>Colour: </li>
                        <li>Mileage: </li>
                        <li>Price Asked: </li>
                    </ul>
                </p>
                <a href="{{ url_for('contact') }}" aria-label="Enquire">Enquire About This Car</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}