{% extends "base.html" %}
{% block content %}

<section class="contact-section">
    <div class="section-header">
        <div class="contact-container">
            <h2>Luxury Cars for Sale</h2>
            <p> Our curated collection
                showcases an exquisite array of premium vehicles that redefine sophistication and performance. Immerse
                yourself in a world where precision engineering meets opulent design, offering an unparalleled driving
                experience. From sleek sports cars to lavish SUVs, each vehicle in our fleet represents the pinnacle of
                automotive craftsmanship, blending cutting-edge technology with timeless aesthetics.</p>
        </div>
    </div>
</section>

<section class="cards-section">
    <div class="cards-container">
        <div class="card">
            <div class="card-img car1">
            </div>
            <div class="card-content">
                <h3>Bentley</h3>
                <p>
                    <ul>
                        <li>Model: Continental</li>
                        <li>Body Type: Coupe</li>
                        <li>Year:  2018 (18)</li>
                        <li>Gearbox: 8-Speed DCT</li>
                        <li>Fuel Type: Petrol</li>
                        <li>Colour: Gold</li>
                        <li>Mileage: 21,538</li>
                        <li>Price Asked: £99,950</li>
                    </ul>
                </p>
                <a href="{{ url_for('contact') }}" aria-label="Enquire">Enquire About This Car</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img car2">
            </div>
            <div class="card-content">
                <h3>Ferrari</h3>
                <p>
                    <ul>
                        <li>Model: Spider 488</li>
                        <li>Body Type: Convertible</li>
                        <li>Year: 2019</li>
                        <li>Gearbox: 7-Speed DCT F1</li>
                        <li>Fuel Type: Petrol</li>
                        <li>Colour: Gold</li>
                        <li>Mileage: 18,442</li>
                        <li>Price Asked: £175,000</li>
                    </ul>
                </p>
                <a href="{{ url_for('contact') }}" aria-label="Enquire">Enquire About This Car</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img car3">
            </div>
            <div class="card-content">
                <h3>Ford</h3>
                <p>
                    <ul>
                        <li>Model: Mustang GT</li>
                        <li>Body Type: Coupe</li>
                        <li>Year: 2024</li>
                        <li>Gearbox: 6-Speed Manual</li>
                        <li>Fuel Type: Petrol</li>
                        <li>Colour: Gold</li>
                        <li>Mileage: 1,321</li>
                        <li>Price Asked: £68,935</li>
                    </ul>
                </p>
                <a href="{{ url_for('contact') }}" aria-label="Enquire">Enquire About This Car</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img car4">
            </div>
            <div class="card-content">
                <h3>Koenigsegg</h3>
                <p>
                    <ul>
                        <li>Model: Agera R</li>
                        <li>Body Type: Sports Car</li>
                        <li>Year: 2013</li>
                        <li>Gearbox: 7-Speed DCT</li>
                        <li>Fuel Type: Petrol</li>
                        <li>Colour: Gold</li>
                        <li>Mileage: 2,450</li>
                        <li>Price Asked: £2,895,000</li>
                    </ul>
                </p>
                <a href="{{ url_for('contact') }}" aria-label="Enquire">Enquire About This Car</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img car5">
            </div>
            <div class="card-content">
                <h3>Lamborghini</h3>
                <p>
                    <ul>
                        <li>Model: Countach</li>
                        <li>Body Type: Sports Car</li>
                        <li>Year: 1988</li>
                        <li>Gearbox: 5-Speed Manual</li>
                        <li>Fuel Type: Petrol</li>
                        <li>Colour: Gold</li>
                        <li>Mileage: 17,400</li>
                        <li>Price Asked: £499,950</li>
                    </ul>
                </p>
                <a href="{{ url_for('contact') }}" aria-label="Enquire">Enquire About This Car</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img car6">
            </div>
            <div class="card-content">
                <h3>Lamborghini</h3>
                <p>
                    <ul>
                        <li>Model: Urus</li>
                        <li>Body Type: SUV</li>
                        <li>Year: 2021</li>
                        <li>Gearbox: 8-Speed Auto</li>
                        <li>Fuel Type: Petrol</li>
                        <li>Colour: Gold</li>
                        <li>Mileage: 20,439</li>
                        <li>Price Asked: £229,990</li>
                    </ul>
                </p>
                <a href="{{ url_for('contact') }}" aria-label="Enquire">Enquire About This Car</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img car7">
            </div>
            <div class="card-content">
                <h3>Land Rover</h3>
                <p>
                    <ul>
                        <li>Model: Range Rover</li>
                        <li>Body Type: SUV</li>
                        <li>Year: 2021</li>
                        <li>Gearbox: 8-Speed Auto</li>
                        <li>Fuel Type: Petrol</li>
                        <li>Colour: Gold</li>
                        <li>Mileage: 12,843</li>
                        <li>Price Asked: £115,000</li>
                    </ul>
                </p>
                <a href="{{ url_for('contact') }}" aria-label="Enquire">Enquire About This Car</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img car8">
            </div>
            <div class="card-content">
                <h3>McLaren</h3>
                <p>
                    <ul>
                        <li>Model: P1</li>
                        <li>Body Type: Sports Car</li>
                        <li>Year: 2014</li>
                        <li>Gearbox: 7-Speed DCT</li>
                        <li>Fuel Type: Petrol</li>
                        <li>Colour: Gold</li>
                        <li>Mileage: 1,500</li>
                        <li>Price Asked: £1,300,000</li>
                    </ul>
                </p>
                <a href="{{ url_for('contact') }}" aria-label="Enquire">Enquire About This Car</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img car9">
            </div>
            <div class="card-content">
                <h3>Mercedez-Benz</h3>
                <p>
                    <ul>
                        <li>Model: G-Class</li>
                        <li>Body Type: 4x4</li>
                        <li>Year: 2023</li>
                        <li>Gearbox: 9-speed Auto</li>
                        <li>Fuel Type: Petrol</li>
                        <li>Colour: Gold</li>
                        <li>Mileage: 6,356</li>
                        <li>Price Asked: £164,950</li>
                    </ul>
                </p>
                <a href="{{ url_for('contact') }}" aria-label="Enquire">Enquire About This Car</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img car10">
            </div>
            <div class="card-content">
                <h3>Pagani</h3>
                <p>
                    <ul>
                        <li>Model: Zonda R</li>
                        <li>Body Type: Sports Car</li>
                        <li>Year: 2013</li>
                        <li>Gearbox: 6-Speed Auto</li>
                        <li>Fuel Type: Petrol</li>
                        <li>Colour: Gold</li>
                        <li>Mileage: 3,360</li>
                        <li>Price Asked: 2,880,298</li>
                    </ul>
                </p>
                <a href="{{ url_for('contact') }}" aria-label="Enquire">Enquire About This Car</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img car11">
            </div>
            <div class="card-content">
                <h3>Porsche</h3>
                <p>
                    <ul>
                        <li>Model: 911 Turbo</li>
                        <li>Body Type: Coupe</li>
                        <li>Year: 2012</li>
                        <li>Gearbox: 7-speed PDK</li>
                        <li>Fuel Type: Petrol</li>
                        <li>Colour: Gold</li>
                        <li>Mileage: 29,742</li>
                        <li>Price Asked: £69,950</li>
                    </ul>
                </p>
                <a href="{{ url_for('contact') }}" aria-label="Enquire">Enquire About This Car</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img car12">
            </div>
            <div class="card-content">
                <h3>Rolls Royce</h3>
                <p>
                    <ul>
                        <li>Model: Wraith</li>
                        <li>Body Type: Saloon</li>
                        <li>Year: 2016</li>
                        <li>Gearbox: 8-Speed Auto</li>
                        <li>Fuel Type: Petrol</li>
                        <li>Colour: Gold</li>
                        <li>Mileage: 47,500</li>
                        <li>Price Asked: £125,700</li>
                    </ul>
                </p>
                <a href="{{ url_for('contact') }}" aria-label="Enquire">Enquire About This Car</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}