{% extends "base.html" %}
{% block content %}
<section class="register-container">
    <div class="register-form">
        <form method="POST" action="{{ url_for('register')}}">
            <h1>Register</h1>
            <!-- Username -->
            <div class="register-input">
                <input type="text" id="username" name="username"
                 minlength="5" maxlength="15" placeholder="Username"
                    required>
                <span class="material-symbols-outlined">
                    person
                </span>
            </div>
            <!-- Email -->
            <div class="register-input">
                <input type="email" id="email" name="email"
                 placeholder="Email address" required>
                <span class="material-symbols-outlined">
                    alternate_email
                </span>
            </div>
            <!-- Password -->
            <div class="register-input">
                <input type="password" id="password" name="password"
                 minlength="8" maxlength="15" placeholder="Password"
                    required>
                <span class="material-symbols-outlined">
                    lock
                </span>
            </div>
            <!-- Register button -->
            <button type="submit" class="register-btn">
                Register
            </button>
            <div class="register-account">
                <p>Already have an account?
                     <a href="{{ url_for('login') }}">Log in</a>
                </p>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <p class="registration-successful">{{ message }}</p>
                {% endfor %}
            {% endif %}
          {% endwith %}
        </form>
    </div>
</section>
{% endblock %}